extends layout

block content
    h1 Hello my name is #{name}
    form(id="GeoCodeForm")
        input(name="address")
        button(type="submit" name="search-button") Search
    div(id="Result")
    script(id="SearchResultTemplate" type="text/x-handlebars-template")
        ul
        li Address: {{formattedAddress}}
        li Zip: {{zipcode}}
        li Latitude: {{latitude}}
        li Longitude: {{longitude}}
        li County: {{administrativeLevels.level2long}}
        li Neighborhood: {{extra.neighborhood}}
block scripts
  script(src="/javascripts/geocodeform.js")